
<%# 新規投稿画面の部分テンプレートファイル %>



<div class="postform">


<%# onsubmit属性で、投稿の際にjavascriptの関数copytextを呼び出す %>

<%= form_for(dairy, url: dairy_index_path, html: {method: :post}, html: {onsubmit: :"copytext()"}) do |f| %>

<% if dairy.errors.any? %>

<div class="alert alert-danger custom">
投稿できませんでした。下記の箇所を修正してください。
<br>
<br>
<% dairy.errors.full_messages.each do |message| %>
<p><%= message %></p>
<% end %>
</div>    <%# /.alert alert-danger %>

<% end %>


<label>
<%= f.text_field :title, maxlength: 100, placeholder: "投稿タイトル", class: 'posttitle' %>
</label>


<br>

<%# f.text_fieldであっても、明示的にname属性を下記のように指定することで、paramsに配列を送れる%>
<%# f.text_fieldのvalueを明示的に空文字にしないと、バリデーションエラー時にテキストボックスに空白が入ってplaceholderが消える。%>
<%# name属性を明示的に記述したからだと思われる。そうしなければ、空白は入らない。%>

<% i=0 %>
<% while i<5 do %>
<label>
<%= f.text_field :tag, name:"dairy[tag][]", maxlength: 20, placeholder: "タグ#{i+1}", value: "", class: 'tagbox' %>
</label>

<% i+=1 %>
<% end %>  <%# end of while %>


<%# 自作wysiwygエディタのパレット %>

<br>
<button type="button" class="btn" style="font-weight: bold;" onclick="document.execCommand('bold',false,null);">Bold</button>
<button type="button" class="btn" style="font-weight: bold;" onclick="document.execCommand('italic',false,null);">Italic</button>
<button type="button" class="btn" style="font-weight: bold;" onclick="document.execCommand('underline',false,null);">Underline</button>
<button type="button" class="btn" style="font-weight: bold; background-color: black;" onclick="document.execCommand('foreColor',false,'black');">&emsp;&emsp;</button>
<button type="button" class="btn" style="font-weight: bold; background-color: red;" onclick="document.execCommand('foreColor',false,'red');">&emsp;&emsp;</button>
<button type="button" class="btn" style="font-weight: bold; background-color: blue;" onclick="document.execCommand('foreColor',false,'blue');">&emsp;&emsp;</button>
<button type="button" class="btn" style="font-weight: bold; background-color: green;" onclick="document.execCommand('foreColor',false,'green');">&emsp;&emsp;</button>
<br>


<%# f.text_areaは残すが、表示しない。submit時にcontenteditableの内容を代入してサーバーに送る %>


<%= f.text_area :text, id: :posttext1, style: :"display: none;" %>



<%# contenteditable属性とexecCommandで、wysiwygにできる。%>
<div class="textbox" id="wysitext1" contenteditable= "true" style="margin-top: 10px; overflow: auto;" ></div>




<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;">
<%= f.submit '投稿する!', data: { confirm: 'この内容で投稿しますか？'}, class: :postbutton2 %>
</div>

<% end %>  <%# end of form_for %>


</div>