<%#dairyコントローラpostingアクションのビューファイル%>


<p class="a1">投稿してみよう!</p>

<div class="postform">

<%= form_for(@post, url: dairy_index_path, html: {method: :post}) do |f| %>

<% if @post.errors.any? %>

<% @post.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>

<% end %>



<label>
<%= f.text_field :title, maxlength: 100, placeholder: "タイトル（最大100文字）" %>
</label>

<br>
<br>
<label>

<%# f.text_fieldであっても、明示的にname属性を下記のように指定することで、paramsに配列を送れる%>
<% i=0 %>
<% while i<5 do %>
<%= f.text_field :tag, name:"dairy[tag][]", maxlength: 20, placeholder: "タグ#{i+1}(最大20文字)" %>
<% i+=1 %>
<% end %>

</label> 

<br>
<br>
<br>
<br>

<%= f.text_area :text, cols: 10, rows: 10, placeholder: "ここに投稿内容を入力してください。", class: :wysihtml5 %>


<%# bootstrap-wysiwigの記述 %>
<script type="text/javascript">

$(document).on('turbolinks:load', function(){
<%# 下の1行で、要素が存在しない場合のみツールバーを表示する%>
<%# もしこうしなければ、turbolinksにより無限に表示される%>
  if (!$('ul.wysihtml5-toolbar')[0]){
   $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5({ toolbar:{ "fa": true, 'font-styles': true,
      'color': true,
      'emphasis': {
        'small': true
      },
      'blockquote': true,
      'lists': true,
      'html': false,
      'link': true,
      'image': false,
      'smallmodals': false }});
    });
 } 
})

</script>

<br>
<br>
<br>

<p>
<%= f.submit '投稿する!', data: { confirm: 'この内容で投稿しますか？'}, class: :postbutton %>
</p>

<% end %>
</div>


