<%# チュートリアルページ %>


<div class="resulttext" style="text-align: center; margin: 100px auto;">〜MELEYの使い方〜</div>


<div class="tutorial" id="tutorial1" style="margin-bottom: 50px;">
1. ユーザー登録して、ログインしてみよう！
</div>

<div class="tutorial" id="tutorial2" style="margin-bottom: 50px;">
2. ログインしたら、投稿してみよう！
</div>


<div class="tutorial"  id="tutorial3" style="margin-bottom: 200px;">
3. ユーザーのフォローとブックマークをしてみよう！
</div>



<div class="tutorialtext" id="tutorialtext1">

<br>

まずは、新規登録ボタンをクリックして、<br>
ユーザー登録してみましょう。<br>
登録後にログインすると、下記のことができるようになります。

<br>
<br>
<br>

<span style="color: red;">・投稿と、投稿に対するコメント<br>
・投稿、コメントに対する「いいね！」<br>
・気になる投稿のブックマーク<br>
・気になるユーザーのフォロー</span>

<br>
<br>
<br>


また、ログインを行わなくても、投稿/コメントの閲覧、<br>
投稿/ユーザー検索・ユーザー情報の閲覧が可能です。

<br>
<br>

<%= image_tag asset_path("tutorial1.jpeg"), class: 'tutorialimage' %>

<br>
<br>

<div class="backtotop" style="margin-bottom: 150px; color: blue;">topに戻る</div>

</div> <%# /#tutorialtext1 %>


<div class="tutorialtext" id="tutorialtext2">


無事にログインすることができたら、投稿をしてみましょう！
<br>
投稿内容は、英語に関する事柄であれば何でもOK!
例えば・・

<br>
<br>

<span style="color: red;">
・学校や塾で出てきた宿題が分からないので教えて欲しい<br>
・海外生活で知った知識を共有したい<br>
・日常生活で使う英語表現を共有したい<br></span>

<br>
<br>
投稿時にはタグを自由に指定することができます。<br>
同じテーマの投稿を整理するのにとても便利です！


<%= image_tag asset_path("tutorial2.jpeg"), class: 'tutorialimage' %>

<br>
<br>

<%= image_tag asset_path("tutorial3.jpeg"), class: 'tutorialimage' %>

<br>
<br>

<%= image_tag asset_path("tutorial4.jpeg"), class: 'tutorialimage' %>

<br>
<br>

<div class="backtotop" style="margin-bottom: 150px; color: blue;">topに戻る</div>

</div> <%# /#tutorialtext2 %>

<br>
<br>

<div class="tutorialtext" id="tutorialtext3">

気になるユーザーは<span style="color: red;">フォロー</span>してみよう！<br>
投稿やコメントを参考にできます。<br>
また、気になる投稿は<span style="color: red;">ブックマーク</span>しておくと、<br>
いつでも参照することができます。<br>

<br>
<br>

<%= image_tag asset_path("tutorial5.jpeg"), class: 'tutorialimage' %>

<br>
<br>

<div class="backtotop" style="margin-bottom: 150px; color: blue;">topに戻る</div>

</div> <%# /#tutorialtext3 %>


