<%# usersコントローラーのbookmarksアクション。ブックマークしている投稿一覧を表示。%>

<div class="tab-menu">

 <% if user_signed_in? %>

   <div class="userbox">

     <%= image_tag @user.avatar.url(:medium), class: 'userimage2'  %>  <span class="a5 boldtext"><%= @user.nickname %></span> 

       <% unless current_user.id == @user.id %>

          <div id="followbutton">
          <%= render 'users/followbutton', sodane: @user %>
          </div>

       <% end %> <%# unless current_user.id ... %>

   </div> <%# /.userbox%>

 <% else %>  <%# if user_signed_in? %>


   <div class="userbox">

     <%= image_tag @user.avatar.url(:medium), class: 'userimage2' %> <span class="a5 boldtext"><%= @user.nickname %></span> 


   </div> <%# /.userbox%>

 <% end %> <%# if user_signed_in? %>


<br>

     <div class="menubox">
      <%# Single button %>
      <div class="btn-group inline">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         メニュー <span class="caret"></span>
        </button>
       <ul class="dropdown-menu">
          <%# htmlなので、@questionsIDを表示させる際にrubyの式展開は使えないっぽい %>
        <li><a href="/users/<%= @bookmarksID %>">投稿一覧</a></li>
        <li><a href="/users/<%= @bookmarksID %>/questions">コメントした投稿</a></li>
        <li><a href="/users/<%= @bookmarksID %>/follows">フォロー</a></li>
        <li><a href="/users/<%= @bookmarksID %>/followers">フォロワー</a></li>
        <li style="background-color: #FFCC99;"><a href="/users/<%= @bookmarksID %>/bookmarks">ブックマークした投稿</a></li>
        <li><a href="/users/<%= @bookmarksID %>/counts">統計・スコア</a></li>
       </ul>
      </div> <%# /.btn-group %>
     </div> <%# ./menubox %>


     <div class="panel panel-danger mainbox">
      <div class="panel-body">
       <%= @user.comment %>
      </div>
     </div>



<% @bookmarklist.each do |cat| %>


<div class="panel panel-success mainbox">


 <div class="panel-heading">


  <h3 class="panel-title bigtitle"><a href ="/dairy/<%= cat.id %>"><%= cat.title %></a></h3>

 </div> <%# /.panel-heading %>

<br>

<div class="panel-body">

<div class='ellipsis'><%= strip_tags cat.text %></div>
<br>



<%# 投稿に紐づいているタグを1つずつ表示する %>
<% cat.tags.each do |yeah| %>
<div class="tag"><%= link_to "#{yeah.tag}" , "/tags/#{yeah.id}", :style => "color:white;"%></div>
<% end %>

<br>

<% if cat.dairyanswers.count == nil then %>
<%# == と記述しないと、左辺と右辺が等しいという意味にならないよ！ %>
<span class="font1"> <%= "0" %>comment</span>
<% else %>
<span class="font1"> <%= cat.dairyanswers.count %>comments</span>
<% end %>

<span class="font1">
　<%= time_ago_in_words(cat.created_at) %>前
</span>


</div> <%# /.panel-body %>

</div> <%# /.panel panel-success mainbox %>


<% end %> <%# @bookmarklist.each do... %>


<div class="a4">
<%= paginate(@bookmarklist) %>
</div>

</div> <%# /.tab-menu %>
