
<div class="tab-menu">

<div class="a5 boldtext">

<% if user_signed_in? %>
<%= image_tag @user.avatar.url(:thumb) %> <%= @user.nickname %> さんのページです。
<br>
<div class="showbox3">
<%= @user.comment %>
</div>

<% unless current_user.id == @user.id %>

<div id="followbutton">
<%= render 'users/followbutton', sodane: @user %>
</div>

<% end %>

<% else %>
<%= image_tag @user.avatar.url(:thumb) %> <%= @user.nickname %> さんのページです。
<br>
<div class="showbox3">
<%= @user.comment %>
</div>
<% end %>
</div>


 <ul>
   <li class="list2">
   <%= link_to '投稿' , "/users/#{@countsID}" %>
   </li>
   <li class="list2">
   <%= link_to 'コメント' , "/users/#{@countsID}/questions" %>
   </li>
   <li class="list1">
   <%= link_to '統計/スコア' , "/users/#{@countsID}/counts" %>
   </li>
    <li class="list2">
   <%= link_to 'フォロー' , "/users/#{@countsID}/follows" %>
   </li>
    <li class="list2">
   <%= link_to 'フォロワー' , "/users/#{@countsID}/followers" %>
   </li>
   <li class="list2">
   <%= link_to 'ブックマーク' , "/users/#{@countsID}/bookmarks" %>
   </li>
 </ul>

<div class="countdisplay">

<div class="countbox">
    <div class="box-title">投稿</div>
    <p><%= @questiond %></p>
</div>

<div class="countbox">
    <div class="box-title">コメント</div>
    <p><%= @answerd %></p>
</div>

<div class="countbox">
    <div class="box-title">貰ったいいね！</div>
    <p><%= @lastsum %></p>
</div>

<div class="countbox">
    <div class="box-title">フォロー</div>
    <p><%= @follows.count %></p>
</div>

<div class="countbox">
    <div class="box-title">フォロワー</div>
    <p><%= @followers.count %></p>
</div>

</div>

<br>
<br>

<div class="countdisplay">

<div class="countbox">
    <div class="box-title">TOEIC</div>
    <p><%= @toeic %></p>
</div>

<div class="countbox">
    <div class="box-title">TOEFL</div>
    <p><%= @toefl %></p>
</div>

<div class="countbox">
    <div class="box-title">IELTS</div>
    <p><%= @ielts %></p>
</div>

<div class="countbox">
    <div class="box-title">英検</div>
    <p><%= @eiken %></p>
</div>

</div>



</div>


