<%# usersコントローラーのfollowsアクション。フォローしているユーザー一覧を表示。%>

<div class="tab-menu">

 <% if user_signed_in? %>

   <div class="userbox">

     <%= image_tag @user.avatar.url(:thumb) %>  <span class="a5 boldtext"><%= @user.nickname %></span> 

       <% unless current_user.id == @user.id %>

          <div id="followbutton">
          <%= render 'users/followbutton', sodane: @user %>
          </div>

       <% end %> <%# unless current_user.id ... %>

   </div> <%# /.userbox%>

 <% else %>  <%# if user_signed_in? %>


   <div class="userbox">

     <%= image_tag @user.avatar.url(:thumb) %> <span class="a5 boldtext"><%= @user.nickname %></span> 


   </div> <%# /.userbox%>

 <% end %> <%# if user_signed_in? %>


<br>

     <div class="menubox">
      <%# Single button %>
      <div class="btn-group inline">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         メニュー <span class="caret"></span>
        </button>
       <ul class="dropdown-menu">
          <%# htmlなので、@questionsIDを表示させる際にrubyの式展開は使えないっぽい %>
        <li><a href="/users/<%= @followsID %>">投稿一覧</a></li>
        <li><a href="/users/<%= @followsID %>/questions">コメントした投稿</a></li>
        <li><a href="/users/<%= @followsID %>/follows">フォロー</a></li>
        <li><a href="/users/<%= @followsID %>/followers">フォロワー</a></li>
        <li><a href="/users/<%= @followsID %>/bookmarks">ブックマークした投稿</a></li>
        <li><a href="/users/<%= @followsID %>/counts">統計・スコア</a></li>
       </ul>
      </div> <%# /.btn-group %>
     </div> <%# ./menubox %>


     <div class="panel panel-danger mainbox">
      <div class="panel-body">
       <%= @user.comment %>
      </div>
     </div>


<div class="a6">フォロー</div>


<% @follows.each do |followlist| %>
<div class="panel panel-info mainbox">
  <div class="panel-body">
    <%= image_tag followlist.avatar.url(:thumb) %> <span class="font1"> <%= link_to followlist.nickname, "/users/#{followlist.id}" %> </span>
    <br>
    <span class="font1"><%= followlist.comment %></span>
  </div> <%# /.panel-body %>
</div> <%# /.panel panel-info mainbox %>
<% end %>


</div> <%# /.tab-menu %>