
<%# usersコントローラーのquestionsアクション。ユーザーがコメントした投稿一覧を表示。%>

<div class="tab-menu">

 <% if user_signed_in? %>

   <div class="userbox">

     <%= image_tag @user.avatar.url(:medium), class: 'userimage2'  %>  <span class="a5 boldtext"><%= @user.nickname %></span> 

       <% unless current_user.id == @user.id %>

          <div id="followbutton">
          <%= render 'users/followbutton', sodane: @user %>
          </div>

       <% end %> <%# unless current_user.id ... %>

   </div> <%# /.userbox%>

 <% else %>  <%# if user_signed_in? %>


   <div class="userbox">

     <%= image_tag @user.avatar.url(:medium), class: 'userimage2'  %> <span class="a5 boldtext"><%= @user.nickname %></span> 


   </div> <%# /.userbox%>

 <% end %> <%# if user_signed_in? %>


<br>

     <div class="menubox">
      <%# Single button %>
      <div class="btn-group inline">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         メニュー <span class="caret"></span>
        </button>
       <ul class="dropdown-menu">
          <%# htmlなので、@questionsIDを表示させる際にrubyの式展開は使えないっぽい %>
        <li><a href="/users/<%= @questionsID %>">投稿一覧</a></li>
        <li style="background-color: #FFCC99;"><a href="/users/<%= @questionsID %>/questions">コメントした投稿</a></li>
        <li><a href="/users/<%= @questionsID %>/follows">フォロー</a></li>
        <li><a href="/users/<%= @questionsID %>/followers">フォロワー</a></li>
        <li><a href="/users/<%= @questionsID %>/bookmarks">ブックマークした投稿</a></li>
        <li><a href="/users/<%= @questionsID %>/counts">統計・スコア</a></li>
       </ul>
      </div> <%# /.btn-group %>
     </div> <%# ./menubox %>


     <div class="panel panel-danger mainbox">
      <div class="panel-body">
       <%= @user.comment %>
      </div>
     </div>



<% @answers.each do |hey| %>

<div class="panel panel-success mainbox">

<div class="panel-heading">


<h3 class="panel-title bigtitle"><a href ="/dairy/<%= hey.dairy_id %>"><%= strip_tags hey.dairy_title %></a></h3>

</div> <%# /.panel-heading %>

<br>

<div class="panel-body">

<div class='ellipsis'><%= strip_tags hey.text %></div>
<br>

<%# 投稿に紐づいているタグを1つずつ表示する %>
<% hey.dairy.tags.each do |yeah| %>
<div class="tag"><%= link_to "#{yeah.tag}" , "/tags/#{yeah.id}", :style => "color:white;" %></div>
<% end %>



<br>
<span class="font1"><%= time_ago_in_words(hey.created_at) %>前</span>
<%# strip_tags で文字列からタグを取り除いて表示 %>


</div> <%# /.panel-body %>

</div> <%# /.panel panel-success mainbox %>

<% end %> <%# @answers.each do... %>

<div class="a4">
<%= paginate (@answers) %>
</div>


</div>