<div class="tab-menu">

<div class="a5 boldtext">

<% if user_signed_in? %>
<%= image_tag @user.avatar.url(:thumb) %> <%= @user.nickname %> さんのページです。
<br>
<div class="showbox3">
<%= @user.comment %>
</div>

<% unless current_user.id == @user.id %>

<div id="followbutton">
<%= render 'users/followbutton', sodane: @user %>
</div>

<% end %>

<% else %>
<%= image_tag @user.avatar.url(:thumb) %> <%= @user.nickname %> さんのページです。
<br>
<div class="showbox3">
<%= @user.comment %>
</div>
<% end %>
</div>


 <ul>
   <li class="list2">
   <%= link_to '投稿' , "/users/#{@questionsID}" %>
   </li>
   <li class="list1">
   <%= link_to 'コメント' , "/users/#{@questionsID}/questions" %>
   </li>
   <li class="list2">
   <%= link_to '統計/スコア' , "/users/#{@questionsID}/counts" %>
   </li>
   <li class="list2">
   <%= link_to 'フォロー' , "/users/#{@questionsID}/follows" %>
   </li>
   <li class="list2">
   <%= link_to 'フォロワー' , "/users/#{@questionsID}/followers" %>
   </li>
   <li class="list2">
   <%= link_to 'ブックマーク' , "/users/#{@questionsID}/bookmarks" %>
   </li>
 </ul>



<% @answers.each do |hey| %>

<div class="showbox">


<div id='indextitle'><a href ="/dairy/<%= hey.dairy_id %>"><%= strip_tags hey.dairy_title %></a></div>



<br>
<br>

<div class='ellipsis'><%= strip_tags hey.text %></div>
<br>

<%# 投稿に紐づいているタグを1つずつ表示する %>
<% hey.dairy.tags.each do |yeah| %>
<div class="tag"><%= link_to "#{yeah.tag}" , "/tags/#{yeah.id}", :style => "color:white;" %></div>
<% end %>



<br>
回答日：<%= hey.created_at.strftime('%Y/%m/%d %H:%M') %>
<%# strip_tags で文字列からタグを取り除いて表示 %>


</div>

<% end %>

<div class="a4">
<%= paginate (@answers) %>
</div>




</div>