<div class="tab-menu">

<div class="a5 boldtext">
 <%= @user.nickname %> さんの・・
</div>

 <ul>
   <li class="list2">
   <%= link_to '質問一覧' , "/users/#{@questionsID}" %>
   </li>
   <li class="list1">
   <%= link_to '回答一覧' , "/users/#{@questionsID}/questions" %>
   </li>
   <li class="list2">
   <%= link_to '統計' , "/users/#{@questionsID}/counts" %>
   </li>
 </ul>



<% @allanswers3.each do |hey| %>

<div class="showbox">

<% if hey.label == "B" then %>
<div id='indextitle'><a href ="/business/<%= hey.business_id %>"><%= strip_tags hey.business_title %>（ビジネス）</a></div>
<% elsif hey.label == "D" then %>
<div id='indextitle'><a href ="/dairy/<%= hey.dairy_id %>"><%= strip_tags hey.dairy_title %>（日常生活）</a></div>
<% else hey.label == "O" %>
<div id='indextitle'><a href ="/others/<%= hey.other_id %>"><%= strip_tags hey.other_title %>（英語全般）</a></div>
<% end %>


<br>
<br>

<div class='ellipsis'><%= strip_tags hey.text %></div>
<br>

回答日：<%= hey.created_at.strftime('%Y/%m/%d %H:%M') %>
<%# strip_tags で文字列からタグを取り除いて表示 %>


</div>

<% end %>

<div class="a4">
<%= paginate @allanswers3, :param_name => 'answer_page' %>
</div>




</div>