<div class="tab-menu">

<div class="a5 boldtext">
 <%= @user.nickname %> さんの・・
</div>

 <ul>
   <li class="list2">
   <%= link_to '質問一覧' , "/users/#{@questionsID}" %>
   </li>
   <li class="list1">
   <%= link_to '回答一覧' , "/users/#{@questionsID}/questions" %>
   </li>
   <li class="list2">
   <%= link_to '統計' , "/users/#{@questionsID}/counts" %>
   </li>
 </ul>



<% @allanswers3.each do |hey| %>

<div class="showbox2">

<%# strip_tags で文字列からタグを取り除いて表示 %>

<% if hey.label == "B" then %>
<p>質問：<%= strip_tags hey.business_text %></p>

<% elsif hey.label == "D" then %>
<p>質問：<%= strip_tags hey.dairy_text %></p>

<% else hey.label == "O" %>
<p>質問：<%= strip_tags hey.other_text %></p>
<% end %>

<br>

<%# 表示できるタグをsanitizeで限定する configでもデフォルトを設定可能%>
<p><%= sanitize hey.text, tags: %w(p strong em u s sub sup span h1 h2 h3 h4 h5 h6 
pre ul ol li blockquote table tr td br hr a), attributes: %w(href style class id height width)%></p>
<br>

<% if hey.label == "B" then %>
<%= link_to '回答のページへ' , "/business/#{hey.business_id}" %>
<% elsif hey.label == "D" then %>
<%= link_to '回答のページへ' , "/dairy/#{hey.dairy_id}" %>
<% else hey.label == "O" %>
<%= link_to '回答のページへ' , "/others/#{hey.other_id}" %>
<% end %>


</div>

<% end %>

<div class="a4">
<%= paginate @allanswers3, :param_name => 'answer_page' %>
</div>




</div>