 <%# usersコントローラーのscoresアクション。ユーザーの英語スコアを表示。%>

<div class="tab-menu">

<div class="a5 boldtext">

<% if user_signed_in? %>
<%= image_tag @user.avatar.url(:thumb) %> <%= @user.nickname %> さんのページです。

<br>
<div class="showbox3">
<%= @user.comment %>
</div>

<% unless current_user.id == @user.id %>

<div id="followbutton">
<%= render 'users/followbutton', sodane: @user %>
</div>

<% end %>

<% else %>
<%= image_tag @user.avatar.url(:thumb) %> <%= @user.nickname %> さんのページです。
<br>

<div class="showbox3">
<%= @user.comment %>
</div>

<% end %>

</div>

 <ul>
   <li class="list2">
   <%= link_to '投稿' , "/users/#{@scoresID}" %>
   </li>
   <li class="list2">
   <%= link_to 'コメント' , "/users/#{@scoresID}/questions" %>
   </li>
   <li class="list2">
   <%= link_to '統計' , "/users/#{@scoresID}/counts" %>
   </li>
   <li class="list2">
   <%= link_to 'フォロー' , "/users/#{@scoresID}/follows" %>
   </li>
   <li class="list2">
   <%= link_to 'フォロワー' , "/users/#{@scoresID}/followers" %>
   </li>
   <li class="list1">
   <%= link_to 'スコア' , "/users/#{@scoresID}/scores" %>
   </li>
 </ul>


</div>

<div class="countdisplay">

<div class="countbox">
    <div class="box-title">TOEIC</div>
    <p><%= @toeic %></p>
</div>

<div class="countbox">
    <div class="box-title">TOEFL</div>
    <p><%= @toefl %></p>
</div>

<div class="countbox">
    <div class="box-title">IELTS</div>
    <p><%= @ielts %></p>
</div>

<div class="countbox">
    <div class="box-title">英検</div>
    <p><%= @eiken %></p>
</div>

</div>

