<%# usersコントローラーのshowアクション。ユーザーの回答一覧を表示。%>

<div class="tab-menu">

<div class="a5 boldtext">
 <%= @user.nickname %> さんの・・
</div>

 <ul>
   <li class="list1">
   <%= link_to '質問一覧' , "/users/#{@showID}" %>
   </li>
   <li class="list2">
   <%= link_to '回答一覧' , "/users/#{@showID}/questions" %>
   </li>
   <li class="list2">
   <%= link_to '統計' , "/users/#{@showID}/counts" %>
   </li>
 </ul>



<% @questions.each do |happy| %>

<div class='showbox'>


<div id='indextitle'><a href ="/dairy/<%= happy.id %>"><%= happy.title %></a></div>


<br>
<br>

<div class='ellipsis'><%= strip_tags happy.text %></div>
<br>
<br>

<%# 投稿に紐づいているタグを1つずつ表示する %>
<% happy.tags.each do |yeah| %>
<div class="tag"><%= link_to "#{yeah.tag}" , "/tags/#{yeah.id}", :style => "color:white;"%></div>
<% end %>

<br>
<span>
<% if @count[happy.id] == nil then %>
<%# == と記述しないと、左辺と右辺が等しいという意味にならないよ！ %>
回答数：<span> <%= "0" %> </span>
<% else %>
回答数：<span> <%= @count[happy.id] %> </span>
<% end %>

　　投稿日：<%= happy.created_at.strftime('%Y/%m/%d %H:%M') %>
</span>


</div>
<% end %>



<div class="a4">
<%= paginate(@questions) %>
</div>




</div>




