<%# usersコントローラーのshowアクション。ユーザーの回答一覧を表示。%>

<div class="tab-menu">

<div class="a5 boldtext">
 <%= @user.nickname %> さんの・・
</div>

 <ul>
   <li class="list1">
   <%= link_to '質問一覧' , "/users/#{@showID}" %>
   </li>
   <li class="list2">
   <%= link_to '回答一覧' , "/users/#{@showID}/questions" %>
   </li>
   <li class="list2">
   <%= link_to '統計' , "/users/#{@showID}/counts" %>
   </li>
 </ul>



<% @allquestions3.each do |happy| %>

<div class='showbox'>


<% if happy.label == "B" then %>
<div id='indextitle'><a href ="/business/<%= happy.id %>"><%= happy.title %>（ビジネス）</a></div>
<% elsif happy.label == "D" then %>
<div id='indextitle'><a href ="/dairy/<%= happy.id %>"><%= happy.title %>（日常生活）</a></div>
<% else happy.label == "O" %>
<div id='indextitle'><a href ="/others/<%= happy.id %>"><%= happy.title %>（英語全般)</a></div>
<% end %>


<br>
<br>

<div class='ellipsis'><%= strip_tags happy.text %></div>
<br>
<br>

<% if happy.label == "B" then %>
<span>
<% if @countB[happy.id] == nil then %>
<%# == と記述しないと、左辺と右辺が等しいという意味にならないよ！ %>
回答数：<span> <%= "0" %> </span>
<% else %>
回答数：<span> <%= @countB[happy.id] %> </span>
<% end %>

　　投稿日：<%= happy.created_at.strftime('%Y/%m/%d %H:%M') %>
</span>


<% elsif happy.label == "D" then %>
<span>
<% if @countD[happy.id] == nil then %>
<%# == と記述しないと、左辺と右辺が等しいという意味にならないよ！ %>
回答数：<span> <%= "0" %> </span>
<% else %>
回答数：<span> <%= @countD[happy.id] %> </span>
<% end %>

　　投稿日：<%= happy.created_at.strftime('%Y/%m/%d %H:%M') %>
</span>


<% else happy.label == "O" %>
<span>
<% if @countO[happy.id] == nil then %>
<%# == と記述しないと、左辺と右辺が等しいという意味にならないよ！ %>
回答数：<span> <%= "0" %> </span>
<% else %>
回答数：<span> <%= @countO[happy.id] %> </span>
<% end %>

　　投稿日：<%= happy.created_at.strftime('%Y/%m/%d %H:%M') %>
</span>

<% end %>

</div>
<% end %>



<div class="a4">
<%= paginate @allquestions3, :param_name => 'question_page' %>
</div>




</div>




