<%# パスワード変更の画面 %>
<div class="a4">
パスワードを忘れましたか？<br>
メールアドレスを入力して、<br>
変更のためのメールを受け取りましょう。
</div>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="signup">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, maxlength: "100", class: 'registerbox' %>
  </div>

  <br>

  <div style="text-align: center; margin: 50px auto 30px auto;">
    <%= f.submit "メールを受け取る", class: "signupbutton" %>
  </div>
<% end %>

<br>

<div class="signup">
<%= render "devise/shared/links" %>
</div>