<%#質問の表示の部分テンプレート%>



<div class="showbox">
<p class="text1"><%=link_to "#{data.name}", "/users/#{data.user_id}" %>　さんの質問　　投稿：<%= data.created_at.strftime('%Y/%m/%d %H:%M') %></p>
<p>タグ：<%= data.tag %></p>
<br>
<br>

<%# 表示できるタグをsanitizeで限定する configでもデフォルトを設定可能%>
<p><%= sanitize data.text, tags: %w(p strong em u s sub sup span h1 h2 h3 h4 h5 h6 
pre ul ol li blockquote table tr td br hr a b i small), attributes: %w(href style class id height width target rel)%></p>
<br>
<br>

<%#以下いいね！機能%>
<div class="likes">
<% if user_signed_in? %>

<%#以下は恐らく、返り値がnilでなければtrue,nilならfalseとなっている。Ruby独特。%>
 <% if data.like_user(current_user.id) %>
  <%= button_to like_delete_business_path(data), method: :delete, id: :like_button, remote: true do %>
    <%= image_tag 'heart.png', width: 20, height: 20 %>
    いいね！<%= data.likes_count %>
  <% end %>
 <% else %>
  <%= button_to like_business_path(data), id: :like_button, remote: true do %>
  <%= image_tag 'nonheart.png', width: 20, height: 20 %>
  いいね！<%= data.likes_count %>
  <% end %>
 <% end %>

<% else %>
<%= image_tag 'heart.png', width: 20, height: 20 %>
 いいね！<%= data.likes_count %>

<% end %>

</div>

<br>

<div class="inline">
<%#twitterシェアボタン%>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-hashtags="英語,英語学習,英会話,ライティング,TOEIC,TOEFL,大学受験,English" data-text="英訳してみよう！→ 「<%=data.text%>」" data-url="https://enoutputs.herokuapp.com/business/<%=data.id%>" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<%# facebookシェアボタン %>
<div class="fb-share-button" data-href="http://enoutputs.herokuapp.com/business/<%=data.id%>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">シェア</a></div>
</div>

<%# Lineシェアボタン %>
<a href="http://line.me/R/msg/text/?http://enoutputs.herokuapp.com/business/<%=data.id%>">
  <img src="//media.line.me/img/button/ja/82x20.png", width="82" height="20" alt="LINEで送る">
</a>

</div>