<%#ログイン時の画面%>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="signup">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <br>

  <div class="signup2">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <br>

  <% if devise_mapping.rememberable? -%>
    <div class="signup2">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "パスワードを記憶する" %>
    </div>
  <% end -%>
  
  <br>

  <div style="text-align: center">
    <%= f.submit "ログイン", class: 'signupbutton' %>
  </div>
<% end %>

<br>

<div class="signup3">
<%= render "devise/shared/links" %>
</div>
