

<% allposts.each do |roop| %>


<div class="panel panel-success mainbox">


<div class="panel-heading">
<%#下記のようなリンク記法は覚えておく。linktoタグではうまくいかなかった。%>
<h3 class="panel-title bigtitle"><a href ="/<%= link %>/<%= roop.id %>"><%= roop.title %></a></h3>
</div> <%# /.panel-heading %>
<br>

 <div class="panel-body">

<div class='ellipsis'><%= strip_tags roop.text %></div>
<br>

<%# 投稿に紐づいているタグを1つずつ表示する %>
<% roop.tags.each do |yeah| %>
<div class="tag"><%= link_to "#{yeah.tag}" , "/tags/#{yeah.id}", :style => "color:white;"%></div>
<% end %>


<br>

<span class="font1">
<%= link_to "#{roop.name}" , "/users/#{roop.user_id}" %>
</span>

<% if kaitousu[roop.id] == nil then %>
<%# == と記述しないと、左辺と右辺が等しいという意味にならないよ！ %>
　<span class="font1"> <%= "0" %>comment</span>
<% else %>
　<span class="font1"> <%= kaitousu[roop.id] %>comments</span>
<% end %>

<span class="font1">
　<%= time_ago_in_words(roop.created_at) %>前
</span>


</div> <%# /.panel-body %>

</div> <%# /.panel panel-default %>


<% end %>

