<%#質問の表示の部分テンプレート%>

<div class="showbox">
<p class="text1">質問No：  <%= data.id %>　　　<%= data.name %>　さんの質問</p>
<p><%= simple_format data.text %></p>
<br>

<%#以下いいね！機能%>

<% if user_signed_in? %>

<%#以下は恐らく、返り値がnilでなければtrue,nilならfalseとなっている。Ruby独特。%>
 <% if data.like_user(current_user.id) %>
 <%= button_to 'いいね！を取り消す' , like_delete_business_path(data), method: :delete %>
 <% else %>
 <%= button_to 'いいね！' , like_business_path(data) %>
 <% end %>

<% else %>
ログインしなさいよ！

<% end %>

totalいいね数：

</div>