<!--検索フォームのテンプレートファイル-->


<p class="a1">
検索結果を以下に表示しています。
</p>

<br>


<table border="1" id="QAtable">
<tr>
<th id="naiyou">内容</th>
<th id="toukousya">投稿者</th>
<th id="response">回答数</th>
</tr>

<% hitnumber.each do |roop| %>
<tr>
<!--下記のようなリンク記法は覚えておく。linktoタグではうまくいかなかった。-->
<th id="naiyou"><a href ="/<%= searchlink %>/<%= roop.id %>"><%= roop.text %></a></th>
<th id="toukousya"><%= link_to "#{roop.name}", "/users/#{roop.user_id}" %></th>

<% if kaitousub[roop.id] == nil then %>
<!-- == と記述しないと、左辺と右辺が等しいという意味にならないよ！ -->
<th id="response"> <%= "0" %> </th>
<% else %>
<th id="response"> <%= kaitousub[roop.id] %> </th>
<% end %>

</tr>
<% end %>

</table>