<%# 検索フォームのテンプレートファイル %>

<br>
<br>

<p class="a1">
検索結果を以下に表示しています。
</p>

<br>



<% hitnumber.each do |roop| %>

<div class='showbox'>


<%#下記のようなリンク記法は覚えておく。linktoタグではうまくいかなかった。%>
<div id='indextitle'><a href ="/<%= searchlink %>/<%= roop.id %>"><%= roop.title %></a></div>
<br>
<br>

<div class='ellipsis'><%= strip_tags roop.text %></div>
<br>
<br>

<%# 投稿に紐づいているタグを1つずつ表示する %>
<% roop.tags.each do |yeah| %>
<div class="tag"><%= link_to "#{yeah.tag}" , "/tags/#{yeah.id}", :style => "color:white;" %></div>
<% end %>


<br>
<span>
投稿者：<%= link_to "#{roop.name}" , "/users/#{roop.user_id}" %>

<% if kaitousub[roop.id] == nil then %>
<%# == と記述しないと、左辺と右辺が等しいという意味にならないよ！ %>
　　コメント数：<span> <%= "0" %> </span>
<% else %>
　　コメント数：<span> <%= kaitousub[roop.id] %> </span>
<% end %>

　　投稿日：<%= roop.created_at.strftime('%Y/%m/%d %H:%M') %>
</span>

</div>
<% end %>
