<!DOCTYPE html>
<html>
<head>
  <title>英語SNS MELEY(β)</title>
  <%# turbolinks用の記述 %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', :debug => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', :debug => true  %>
  <%= csrf_meta_tags %>


<%# asset_urlは絶対パスになる。asset_pathでは画像表示されなかった。%>
<meta name="twitter:card" content="summary_large_image" /> 
<meta name="twitter:site" content="@tukatti7772" /> 
<meta name="twitter:title" content="英語SNS MELEY(β)" /> 
<meta name="twitter:image" content="<%= asset_url('world.jpg') %>" />
<meta property="og:url" content="http://enoutputs.herokuapp.com/<%= yield(:og_url) %>" /> 
<meta property="og:title" content="英語SNS MELEY(β)" />
<meta property="og:description" content="<%= yield(:og_description) %>" /> 
<meta property="og:image" content="<%= asset_url('fortwitter.jpg') %>" /> 
<%# ビューポートの設定（レスポンシブデザイン用) %>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>



<div id="frame">


<%#facebookのシェアボタン用%>
<div id="fb-root"></div>

<%
=begin
%>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%
=end
%>


<nav class="navbar navbar-default color">
  <div class="container">
    <%# Brand and toggle get grouped for better mobile display %>
     <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%# navbar-brandの部分はスマホサイズでも隠れない %>
      <a class="navbar-brand" href="/dairy"><span class="navbartitle">英語SNS MELEY(β)</span></a>
     </div>   <%# /.navbar-header %>

     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<%# 投稿検索フォーム %>
       <form class="navbar-form navbar-left" action="/dairy/search" method="get" id="searchform">
        <div class="form-group">
         <input type="text" class="form-control" placeholder="投稿検索" name="keyword" id="searchbox">
        </div>
        <button type="button" class="btn btn-success active" id="searchbar" style="color: white;">投稿</button>
        <button type="button" class="btn" id="searchbar2" style="color: white;">ユーザー</button>
        <input class="form-control searchimage" type="submit" value="" style="background-image:url(<%= asset_path "mushimegane.jpeg" %>);" >
       </form>
<%# 投稿検索フォーム終わり %>

<%# 右側のnavbar %>
<ul class="nav navbar-nav navbar-right">

<% if user_signed_in? %>

<li>
<span class="navbar-text">
<%= image_tag current_user.avatar.url(:thumb), class: 'userimage' %>
　<%= link_to current_user.nickname, "/users/#{current_user.id}" %>
</span>
</li>


<%# 質問ボタン %>
<li>
   <%= button_to "投稿", dairy_posting_path, method: :get, class: 'btn btn-default navbar-btn padding' %>
</li>

<% end %>

<% if user_signed_in? %>

<%# bootstrapの記述に合わせるため、classを指定している%>
<li>
<%= button_to "登録内容変更", edit_user_registration_path, method: :get, class: 'btn btn-default navbar-btn padding' %>
</li>

<li>
  <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-default navbar-btn padding' %>
</li>

<% else %>

<li>
<%= button_to "ログイン", new_user_session_path, method: :get, class: 'btn btn-default navbar-btn padding' %>
</li>

<li>
<%= button_to "新規登録", new_user_registration_path, method: :get, class: 'btn btn-default navbar-btn padding' %>
</li>

<% end %>


      </ul><%# /.navbar-right %>
    </div><%# /.navbar-collapse %>
  </div><%# /.container %>
</nav>


<%# コンテンツ %>


<div id="contents">

<%= yield %>

</div> <%# /#contents %>



<%#ここからフッター%>
<footer>
 <div id="foot">
  <br>
   Copyright 2018 tukatti
 </div>
</footer>

</div> <%# /#frame %>

</body>
</html>
