<!DOCTYPE html>
<html>
<head>
  <title>Outputs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<meta name="twitter:card" content="summary_large_image" /> 
<meta name="twitter:site" content="@tukatti7772" /> 
<meta property="og:url" content="https://enoutputs.herokuapp.com/" /> 
<meta property="og:title" content="英語表現データベース「Outputs!」" /> 
<meta property="og:description" content="英語表現のQ&Aサイトを作りました！Q&Aを蓄積して有用なデータベースにしていきたいと思っています。ぜひお使いください。" /> 
<meta property="og:image" content="/fortwitter.jpg" /> 
<meta name="twitter:image" content="/fortwitter.jpg" /> 
</head>
<body>

<!--ここからヘッダー-->

<div id="frame">   <!--全てをこの箱の入れ子にする-->



<header id="head">

<div id="headtext">
<%= link_to 'Outputs!', '/toukou' %>
</div>




<% if user_signed_in? %>


<div id="loginoutbutton">
<%= link_to "ログアウト", destroy_user_session_path, method: :delete, :style => "color:white" %>
</div>

<div id="newuser">
ようこそ、<span class="boldtext"><%= current_user.nickname %></span>さん。
</div>

<% else %>

<div id="loginoutbutton">
<%= link_to "ログイン", new_user_session_path, method: :get, :style => "color:white" %>
</div>

<div id="loginoutbutton">
<%= link_to "新規登録", new_user_registration_path, method: :get, :style => "color:white" %>
</div>

<% end %>


</header>


<!-- メニュー -->


<div id="mainmenu">


<table border="1" id="menutable">
 <tr>
   <th>
   <%= link_to 'about outputs', '/toukou' %>
   </th>
   <th>
   <%= link_to '　日常会話　', '/dairy' %>
   </th>
   <th>
   <%= link_to 'ビジネスシーン', '/business' %>
   </th>
   <th>
   <%= link_to '英語全般のQ&A', '/others' %>
   </th>
</tr>
</table>

</div>


<!-- コンテンツ -->


<div id="Acontents">

<%= yield %>

</div>




<!--ここからフッター-->

<footer id="foot">
copyright 2017 tukatti
</footer>

</div>

</body>
</html>
