<!DOCTYPE html>
<html>
<head>
  <title>英語SNS 英語くん(β)</title>
  <%# turbolinks用の記述 %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', :debug => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', :debug => true  %>
  <%= csrf_meta_tags %>


<%# asset_urlは絶対パスになる。asset_pathでは画像表示されなかった。%>
<meta name="twitter:card" content="summary_large_image" /> 
<meta name="twitter:site" content="@tukatti7772" /> 
<%#<meta name="twitter:title" content="Outputs!" /> 
<meta name="twitter:description" content="英語表現データベースのOutputs!を作りました。英語表現の実例を蓄積していきたいと思っています。ぜひご利用ください。" /> %>
<meta name="twitter:image" content="<%= asset_url('fortwitter.jpg') %>" />
<meta property="og:url" content="http://enoutputs.herokuapp.com/<%= yield(:og_url) %>" /> 
<meta property="og:title" content="この日本語を英語で言うと？？  英語SNS 英語くん" />
<meta property="og:description" content="<%= yield(:og_description) %>" /> 
<meta property="og:image" content="<%= asset_url('fortwitter.jpg') %>" /> 
</head>
<body>

<%#facebookのシェアボタン用%>
<div id="fb-root"></div>

<%
=begin
%>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%
=end
%>


<%#ここからヘッダー%>

<div id="frame">   <%#全てをこの箱の入れ子にする%>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%# Brand and toggle get grouped for better mobile display %>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/toukou"><span class="deepskyblue boldtext">英語SNS 英語くん(β)</span></a>
      <p class="navbar-text">  </p>
      <a class="navbar-brand" href="/dairy"><span class="deepskyblue boldtext">Home</span></a>
    </div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<%# 検索フォーム %>
       <form class="navbar-form navbar-left" action="/dairy/search" method="get">
        <div class="form-group">
       <input type="text" class="form-control" placeholder="検索内容" name="keyword">
        </div>
        <button type="submit" class="btn btn-default">検索する</button>
       </form>

<% if user_signed_in? %>

<%# 質問ボタン %>
　　<button type="button" class="btn btn-default navbar-btn">
<%= link_to '投稿する！' , '/dairy/posting' %>
</button>

<% else %>

<p class="navbar-text">
ログインして質問！
</p>

<% end %>

<ul class="nav navbar-nav navbar-right">

<% if user_signed_in? %>


<button type="button" class="btn btn-default navbar-btn">
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</button>

<p class="navbar-text">
ようこそ、<span class="black boldtext"><%= current_user.nickname %></span>さん。
</p>

<% else %>

<button type="button" class="btn btn-default navbar-btn">
<%= link_to "ログイン", new_user_session_path, method: :get %>
</button>

<button type="button" class="btn btn-default navbar-btn">
<%= link_to "新規登録", new_user_registration_path, method: :get %>
</button>

<% end %>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<%# コンテンツ %>


<div id="Acontents">

<%= yield %>

</div>




<%#ここからフッター%>

<footer id="foot">
copyright 2017 tukatti
</footer>

</div>

</body>
</html>
